body{
    overflow-x: hidden;
}
.image
{
    display: inline-block;
    position: relative;
    transform: rotate(-23deg);
    /* bottom: 10rem; */
}

.image img{
    width: 600px;
    
}

.content
{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-left: 24px;
}
.content h1{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 60px;
    line-height: 5rem;
}

.contain
{
    display: flex;
    /* background: grey; */
    width: 65rem;
}

.air{
       color: #4CC9F0;
       text-align: center;
    }
    
  .paragraph  p{
        width:18rem
        
       
    }

    .paragraph
    {
        padding-left: 2rem;
    }


.contact button{
    width: 6rem;
    background: #4CC9F0;
    padding: 10px;
    color: white;
    outline: none;
    border: none;
 border-radius:20px;
 position: relative;
 left: 6.2rem;
 font-weight: 700;
}

.topic
{
    text-align: center;
    
}

.arrow
{
    position: relative;
    left: 6.5rem;
    top: 0.7rem;

}

.arrow i{
    font-size: 35px;
    
}

.product-list
{
    width: 14rem;
    /* background: black; */
    display: flex;
    flex-direction: column;

}

.main
{
    display: flex;
    
}

.product{
    height: 150px;
    width: 150px;
    /* background-color: red; */
     margin: 5px;
     display: inline-block;
}

.product img{
    height: 130px;
    width: 130px;
}

.add{
    display: inline-block;
    position: relative;
    bottom: 6rem;
    right: 1.4rem;
}
.add img{
    height: 15px;
    width: 15px;
}

.add img:hover{
    cursor: pointer;
}


.title
{
    display: inline-block;
    position: relative;
    bottom: 3rem;
    left: 1.9rem;
}